<!DOCTYPE HTML>
    <html>

    <head>
        <meta charset="utf-8">
        <title><%=title%></title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    </head>

    <body>
        <script>
            window.onload = function() {
                
                var url = encodeURIComponent('itms-services://?action=download-manifest&url=<%=manifest%>');
                location.href = "https://wayshon.com/ipa/download.html?path=" + url;
            }
            
        </script>
    </body>

    </html>