<DOCTYPE html>
    <html>

    <head>
        <meta charset="utf-8">
        <title><%=title%></title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    </head>

    <body>
        <a id="download" href="itms-services://?action=download-manifest&url=<%=manifest%>">点击开始安装<%=title%></a>
        <script>
            var download = document.getElementById('download');
            download.addEventListener('click', function(event) {
                var url = encodeURI('tms-services://?action=download-manifest&url=<%=manifest%>');
                location.href = "https://wayshon.com/ipa/download.html?url=" + url;
            },false)
        </script>
    </body>

    </html>