<!DOCTYPE HTML>
<html>
<meta charset="utf-8">
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
<meta name="format-detection" content="telephone=no">
<title>测试上传</title>

<head>
    
</head>

<body>
    <form method="post" action="/" enctype="multipart/form-data">
        <input type="file" name="ipa" />
        <input type="submit" value="提交">
    </form>
</body>

</html>